*{
    margin:0;
    padding:0;
}
.navOptions a{
    text-decoration: none;
    color: rgb(199, 160, 31);
    margin-left: 5px;
    
}

.navOptions a:hover {
    color: rgb(255, 243, 234) !important;
  }
  
.active{
    color:rgb(4, 74, 34);
}
.navOptions{
    display: flex;
    width:50%;
    justify-content: center;
    align-items: center;
    
}
#navBar{
    display: flex;
    height: 11vh;
    width: 100%;
    background-color: rgb(12, 48, 78);
    border: 2px solid rgba(10, 10, 5, 0.842);
    color:aliceblue;
    font-size: 5vh;
    align-items: center;
 

}